[program:vinaco-api-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /home/vagrant/www/vicoders_vinaco_api/artisan queue:work --sleep=3 --tries=3
autostart=true
autorestart=true
user=vagrant
numprocs=8
redirect_stderr=true
stdout_logfile=/home/vagrant/www/queue-log/vinaco-api.log

